<div class="login-container">
  <form (ngSubmit)="login()" class="login-form">
    <tm-input type="email" [value]="credentials().email" label="Email"
      (onInput)="credentials().email = $event"></tm-input>
    <tm-input type="password" [value]="credentials().password" label="Password"
      (onInput)="credentials().password = $event"></tm-input>
    <tm-button [variant]="'raised'" [text]="'login'" type="submit"></tm-button>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</div>