<div class="example-container">
  <div
    class="example-list"
    *ngFor="let column of columns"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="getColumnTasks(column.status)"
  >
    <h2>{{ column.title }}</h2>
    <tm-card [ngClass]="'example-box'"
      *ngFor="let task of getColumnTasks(column.status); trackBy: trackByTaskId"
      cdkDrag
    >
      <div card-title>
        {{ task.title }}
      </div>
      <div card-body>
        {{ task.description }}
      </div>
      <div card-footer>
        <button mat-button (click)="taskEdit.emit(task)">Edit</button>
      </div>
    </tm-card>
  </div>
</div>
