<div class="signup-container">
  <form (ngSubmit)="signup()" class="signup-form">
    <tm-input
      type="email"
      [value]="credentials().email"
      label="Email"
      (onInput)="credentials().email = $event"
    ></tm-input>
    <tm-input
      type="password"
      [value]="credentials().password"
      label="Password"
      (onInput)="credentials().password = $event"
    ></tm-input>
    <tm-button [variant]="'raised'" [text]="'signup'" type="submit"></tm-button>
    <tm-icon-button
      [variant]="'stroked'"
      [text]="'login'"
      [routerLink]="['/login']"
      [icon]="'arrow_back'"
      (buttonClick)="backToLogin($event)"
    ></tm-icon-button>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</div>
